node_modules/
dist/
**/.tmp/
**/.sass-cache/
app/bower_components/
**/.idea/
.DS_Store
app/scripts/config.js
./.ruby-gemset
./.ruby-version
.sass-cache/
.tmp/
*.orig
coverage/
.vscode/
typings/
platforms/
plugins/